// Purple

$purple-10: #e4ccff;
$purple-20: #cc99ff;
$purple-30: #ba6bff;
$purple-40: #a938ff;
$purple-50: #9900ff;
$purple-60: #8400d1;
$purple-70: #69009e;
$purple-80: #4f0070;
$purple-90: #2d003d;

// Gold

$gold-10: #ffefcc;
$gold-20: #ffe299;
$gold-30: #ffda6b;
$gold-40: #ffd438;
$gold-50: #ffd000;
$gold-60: #ccad00;
$gold-70: #998700;
$gold-80: #665d00;
$gold-90: #333000;

// Blue

$blue-10: #cce2ff;
$blue-20: #99c2ff;
$blue-30: #6ba1ff;
$blue-40: #387aff;
$blue-50: #0550ff;
$blue-60: #0038d1;
$blue-70: #00259e;
$blue-80: #001670;
$blue-90: #000a3d;

// Grey

$grey-10: #e7e6e4;
$grey-20: #cfcdc9;
$grey-30: #b9b7b1;
$grey-40: #a19f97;
$grey-50: #868479;
$grey-60: #6e6d63;
$grey-70: #53524b;
$grey-80: #383833;
$grey-90: #1d1d1b;

// White

$white: #fff;

$t: transparent;
