// Reds
$red-40: #ff4f4d;
$red-50: #e83333;
$red-60: #c21717;
$red-70: #9c0303;
$red-80: #750000;
$red-90: #470000;
$red: $red-50;

// Coals
$coal-60: #3b3830;
$coal-70: #27241e;
$coal-80: #181611;
$coal-90: #080705;
$coal: $coal-90;

// Quartzs
$quartz-10: #cfccd0;
$quartz-20: #bab7bc;
$quartz-30: #a4a0a8;
$quartz-40: #908993;
$quartz-50: #7b747f;
$quartz-60: #675f6b;
$quartz-70: #4d4851;
$quartz-80: #332f38;
$quartz-90: #1a181f;
$quartz: $quartz-70;

// White
$white-100: #f5f1ee;
$white: $white-100;

// Greys
$grey-30: #d7d7db;
$grey-40: #b1b1b3;
$grey-50: #737373;
$grey-60: #4a4a4f;
$grey-70: #38383d;
$grey-80: #2a2a2e;
$grey-90: #0c0c0d;

// Aqua
$aqua-40: #ddedf9;
$aqua-50: #bbcfe0;
$aqua-60: #88a0b9;
$aqua-70: #5d7793;
$aqua-80: #3a536d;
$aqua-90: #1e3247;
$aqua: $aqua-50;

// NEW COLOURS

// Purple

$purple-10: #e4ccff;
$purple-20: #cc99ff;
$purple-30: #ba6bff;
$purple-40: #a938ff;
$purple-50: #9900ff;
$purple-60: #8400d1;
$purple-70: #69009e;
$purple-80: #4f0070;
$purple-90: #2d003d;

// Gold

$gold-10: #ffefcc;
$gold-20: #ffe299;
$gold-30: #ffda6b;
$gold-40: #ffd438;
$gold-50: #ffd000;
$gold-60: #ccad00;
$gold-70: #998700;
$gold-80: #665d00;
$gold-90: #333000;

// Blue

$blue-10: #cce2ff;
$blue-20: #99c2ff;
$blue-30: #6ba1ff;
$blue-40: #387aff;
$blue-50: #0550ff;
$blue-60: #0038d1;
$blue-70: #00259e;
$blue-80: #001670;
$blue-90: #000a3d;

// Grey

$grey-10: #e7e6e4;
$grey-20: #cfcdc9;
$grey-30: #b9b7b1;
$grey-40: #a19f97;
$grey-50: #868479;
$grey-60: #6e6d63;
$grey-70: #53524b;
$grey-80: #383833;
$grey-90: #1d1d1b;

// White

$white: #fff;

$t: transparent;
