// Reds
$red-40: #ff4f4d;
$red-50: #e83333;
$red-60: #c21717;
$red-70: #9c0303;
$red-80: #750000;
$red-90: #470000;
$red: $red-50;

// Coals
$coal-70: #3b3830;
$coal-80: #27241e;
$coal-90: #080705;
$coal: $coal-90;

// Quartzs
$quartz-10: #cfccd0;
$quartz-20: #bab7bc;
$quartz-30: #a4a0a8;
$quartz-40: #908993;
$quartz-50: #7b747f;
$quartz-60: #675f6b;
$quartz-70: #4d4851;
$quartz-80: #332f38;
$quartz-90: #1a181f;
$quartz: $quartz-70;

// White
$white-100: #f5f1ee;
$white: $white-100;

// Greys
$grey-30: #d7d7db;
$grey-40: #b1b1b3;
$grey-50: #737373;
$grey-60: #4a4a4f;
$grey-70: #38383d;
$grey-80: #2a2a2e;
$grey-90: #0c0c0d;

// Aqua
$aqua-40: #ddedf9;
$aqua-50: #bbcfe0;
$aqua-60: #88a0b9;
$aqua-70: #5d7793;
$aqua-80: #3a536d;
$aqua-90: #1e3247;
$aqua: $aqua-50;
