html {
  background-color: $white;
  font-family: $font-family;
  font-size: font-size($font-baseline-20);
  line-height: line-height($font-baseline-20);
}

h1 {
  font-size: font-size($font-baseline-48);
  line-height: line-height($font-baseline-48);
}

h2 {
	font-size: font-size($font-baseline-36);
  line-height: line-height($font-baseline-36);
}

h3 {
  font-size: font-size($font-baseline-28);
  line-height: line-height($font-baseline-28);
}

h4 {
  font-size: font-size($font-baseline-24);
  line-height: line-height($font-baseline-24);
}

h5 {
  font-size: font-size($font-baseline-20);
  line-height: line-height($font-baseline-20);
}

h6 {
  font-size: font-size($font-baseline-16);
  line-height: line-height($font-baseline-16);
  font-variant: small-caps;
}

a {
  background-color: transparentize($red, 0.9);
  color: $coal;
  text-decoration: none;
  border-bottom: 1px solid transparentize($red-80, 0.3);

  &:hover {
    background-color: transparentize($red, 0.7);
    border-bottom-color: $red-80;
  }
}

mark {
  background: none;
  color: $red;
  font-weight: 700;
}
