h1 {
  font-size: font-size($font-baseline-48);
  line-height: line-height($font-baseline-48);
}

h2 {
	font-size: font-size($font-baseline-36);
  line-height: line-height($font-baseline-36);
}

h3 {
  font-size: font-size($font-baseline-28);
  line-height: line-height($font-baseline-28);
}

h4 {
  font-size: font-size($font-baseline-24);
  line-height: line-height($font-baseline-24);
}

h5 {
  font-size: font-size($font-baseline-20);
  line-height: line-height($font-baseline-20);
}

h6 {
  font-size: font-size($font-baseline-16);
  line-height: line-height($font-baseline-16);
  font-variant: small-caps;
}

a {
  background-color: transparentize($aqua, 0.7);
  color: $coal;
  text-decoration: none;
  border-bottom: 1px solid transparentize($aqua-80, 0.3);

  &:hover {
    background-color: transparentize($aqua, 0.4);
    border-bottom-color: $aqua-80;
  }
}

.btn {
  display: inline-block;
  padding: .5em;
}

.blue-btn {
  background-color: $t;
  background-image: linear-gradient(to bottom, $aqua-80, $aqua-80),
    linear-gradient(to bottom, transparentize($aqua, 0.6), transparentize($aqua, 0.6));
  background-size: 100% 0em, 100% 1.2em;
  background-repeat: no-repeat;
  background-position: 0 100%, 0 100%;
  padding: 0.3em 0.6em;
  border: none;
  transition: 0.3s ease;

  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;

  &:hover {
    color: $white;
    background-size: 100% 100%, 100% 100%;
  }
}

.arrow-btn {
  background-size: calc(100% - 0.3em) 0.1em, calc(100% - 0.3em) 1.2em;

  .icon {
    fill: currentColor;
    vertical-align: middle;
    padding: 0 0.2em;
    transition: transform 0.3s ease;
    @include transform(translateX(0));
  }

  &:hover .icon {
    @include transform(translateX(0.3em));
  }
}

mark {
  background: none;
  color: $red;
  font-weight: 700;
}

hr {
  border: none;
  border-bottom: 1px solid $quartz-50;
  margin: 1em 0;
}
