.container {
  width: 90%;
  max-width: 1024px;
}

.center {
	margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.aria-hidden {
  text-indent: -9999px;
}

@media (min-width: #{$mobile-max-bp + 1px}) {
  .show-mobile-below {
    display: none;
  }
}

@each $sel, $bp in (tablet: ($tablet-max-bp, $tablet-min-bp), desktop: ($desktop-max-bp, $desktop-min-bp)) {
  @media (min-width: #{nth($bp, 1) + 1px}) {
    .show-#{$sel}-below {
      display: none;
    }
  }
  @media (max-width: #{nth($bp, 2) - 1px}) {
    .show-#{$sel}-above {
      display: none;
    }
  }
}

@media (max-width: #{$desktop-lg-min-bp - 1px}) {
  .show-desktop-lg-above {
    display: none;
  }
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.font-12 {
  font-size: font-size($font-baseline-12);
  line-height: line-height($font-baseline-12);
}

.font-16 {
  font-size: font-size($font-baseline-16);
  line-height: line-height($font-baseline-16);
}

.font-20 {
  font-size: font-size($font-baseline-20);
  line-height: line-height($font-baseline-20);
}

.font-24 {
  font-size: font-size($font-baseline-24);
  line-height: line-height($font-baseline-24);
}

.font-28 {
  font-size: font-size($font-baseline-28);
  line-height: line-height($font-baseline-28);
}

.font-36 {
  font-size: font-size($font-baseline-36);
  line-height: line-height($font-baseline-36);
}

.font-48 {
  font-size: font-size($font-baseline-48);
  line-height: line-height($font-baseline-48);
}

.font-64 {
  font-size: font-size($font-baseline-64);
  line-height: line-height($font-baseline-64);
}

.font-80 {
  font-size: font-size($font-baseline-80);
  line-height: line-height($font-baseline-80);
}

.brand-highlight {
  background-image: linear-gradient(to bottom, transparentize($red, 0.9), transparentize($red, 0.9));
  background-size: 1em 0.9em;
  background-repeat: repeat-x;
  background-position: 0 100%;
  padding: 0 0.15em;

  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.blue-highlight {
  background-image: linear-gradient(to bottom, transparentize($aqua, 0.6), transparentize($aqua, 0.6));
  background-size: 1em 0.9em;
  background-repeat: repeat-x;
  background-position: 0 100%;
  padding: 0 0.15em;

  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.quartz-highlight {
  background-image: linear-gradient(to bottom, transparentize($quartz, 0.9), transparentize($quartz, 0.9));
  background-size: 1em 0.9em;
  background-repeat: repeat-x;
  background-position: 0 100%;
  padding: 0 0.15em;

  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.responsive-iframe {
  max-width: 100%;
}

.slash-sep {
  font-weight: 400;
  letter-spacing: -0.1em;
  padding-right: 0.1em;
  opacity: 0.7;
}

.vert-sep {
  font-weight: 400;
  letter-spacing: -0.05em;
  padding-right: 0.05em;
  opacity: 0.7;
}
