$font-baseline-12: 9.6px 12px;
$font-baseline-16: 12.8px 16px;
$font-baseline-20: 16px 20px;
$font-baseline-24: 19.2px 24px;
$font-baseline-28: 22.4px 28px;
$font-baseline-36: 28.8px 36px;
$font-baseline-48: 40px 48px;
$font-baseline-64: 55.7px 64px;
$font-baseline-80: 72px 80px;

$font-family: aktiv-grotesk, system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', HelveticaNeue, Roboto, 'Segoe UI', Arial, sans-serif;

$z-1: -1;
$z0: 0;
$z1: 1;
$z2: 10;
$z3: 100;
$z4: 1000;

$mobile-max-bp: 640px;
$tablet-min-bp: 641px;
$tablet-max-bp: 1024px;
$desktop-min-bp: 1025px;
$desktop-max-bp: 1600px;
$desktop-lg-min-bp: 1601px;
