#main-footer {
  background: $grey-10;
  padding: 1em 0;
  margin-top: 2em;

  @at-root {
    .theme-dark & {
      background: $grey-80;
      color: $white;
    }
  }

  > div > div {
    flex: 1;
  }

  a {
    color: $grey-90;
    background: none;
    border-bottom-color: $t;
    opacity: 1;
    transition: .3s ease;

    &:hover {
      opacity: .8;
    }

    @at-root {
      .theme-dark & {
        color: $white;
      }
    }
  }

  p a {
    font-size: font-size($font-baseline-24);
    line-height: line-height($font-baseline-24);

    &:hover {
      opacity: 1;
      border-bottom-color: currentColor;
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
    line-height: line-height($font-baseline-24);
  }

  .postscript {
    font-size: font-size($font-baseline-16);
    opacity: 0.8;

    > p {
      flex: 1;
    }
  }
}

@media (min-width: $tablet-min-bp) {
  .mainscript {
    flex-direction: row;
  }
}
