.tabber {
  display: block;

  &-tabbar {
    display: flex;
    flex-wrap: wrap;
  }

  &-tab {
    flex: 1 0 100px;
    background: none;
    color: $grey-90;
    text-align: center;
    font-weight: 700;
    white-space: nowrap;
    padding: 1em;
    border-bottom: 0.2em solid $grey-20;

    &:hover {
      background: none;
      border-bottom-color: $blue-10;
    }

    &[data-active] {
      background: transparentize($blue-10, .5);
      color: $blue-90;
      border-bottom-color: $blue-80;
    }
  }

  &-initialized &-section {
    display: none;
  }

  &-initialized &-section[data-active] {
    display: block;
  }
}
