.tabber {
  display: block;

  &-tabbar {
    display: flex;
    flex-wrap: wrap;
  }

  &-tab {
    flex: 1 0 100px;
    background: none;
    text-align: center;
    font-weight: 700;
    white-space: nowrap;
    padding: 1em;
    border-bottom: 0.2em solid $quartz-20;

    &:hover {
      background: none;
      border-bottom-color: transparentize($red-80, 0.6);
    }

    &[data-active] {
      background: transparentize($red-40, 0.9);
      color: $red-80;
      border-bottom-color: $red-80;
    }
  }

  &-initialized &-section {
    display: none;
  }

  &-initialized &-section[data-active] {
    display: block;
  }
}
