#main-header {
  position: relative;
  font-size: font-size($font-baseline-24);
  line-height: line-height($font-baseline-24);
  z-index: $z2;
  padding: 1em 0;

  .container {
    position: relative;
  }

  a {
    background: none;
    border-color: $t;
    color: $grey-90;

    @at-root {
      .theme-dark & {
        color: $grey-10;
      }
    }

    &:hover,
    &.current-page {
      border-color: currentColor;
    }
  }
}

#main-header .logo {
  flex: 1;
  opacity: 1;
  transition: opacity .2s ease;

  a {
    display: inline-block;
    border: none;
    opacity: 1;
    transition: .3s ease;

    &:hover {
      opacity: .8;
    }
  }

  svg {
    height: 1em;
  }

  .byline {
    font-size: font-size($font-baseline-20);
    line-height: line-height($font-baseline-20);
  }
}

#change-lang-menu {
  display: none;
  position: absolute;
  top: -.3em;
  right: line-height($font-baseline-44);
  background: $white;
  font-size: font-size($font-baseline-20);
  text-align: right;
  list-style: none;
  padding: .3em;
  padding-top: 1.5em;
  border: 1px solid $grey-10;
  border-radius: .1em;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .1);

  &:hover,
  &.--focused {
    display: block;
  }

  @at-root {
    .theme-dark & {
      background: $grey-80;
      border-color: $grey-70;
    }
  }
}

#change-lang {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: line-height($font-baseline-44);
  background: none;
  border: none;
  z-index: 1;
  opacity: 1;
  transition: .3s ease opacity;

  &:hover {
    opacity: .8;
  }

  .icon {
    height: 1.5em;
    fill: currentColor;
  }

  &:hover + #change-lang-menu {
    display: block;
  }
}

#toggle-main-nav {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: line-height($font-baseline-44);
  line-height: 0;
  background: none;
  border: none;
  opacity: 1;
  transition: .3s ease opacity;

  &:hover {
    opacity: .8;
  }

  .icon {
    height: 1em;
    fill: currentColor;
  }

  .menu-close-icon {
    display: none;
  }

  &.menu-open .menu-close-icon {
    display: inline;
  }

  &.menu-open .menu-open-icon {
    display: none;
  }
}

#main-nav {
  position: absolute;
  line-height: line-height($font-baseline-24) + line-height($font-baseline-20);
  opacity: 0;
  z-index: $z-1;
  -webkit-transition: -webkit-transform 0.3s ease, opacity 0.2s ease;
  transition: transform 0.3s ease, opacity 0.2s ease;

  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  &.menu-open {
    opacity: 1;
    z-index: $z0;
  }
}

@media (max-width: $tablet-max-bp) {
  #main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparentize($grey-90, 0.3);
    @include transform(translateY(-100vh));

    ul {
      background: $white;
      text-align: center;
      padding-top: 4em;
      padding-bottom: 1em;

      @at-root {
        .theme-dark & {
          background: $grey-80;
        }
      }
    }

    &.menu-open {
      z-index: $z-1;
      @include transform(translateY(0));
    }
  }
}

@media (min-width: $desktop-min-bp) {
  #main-header .logo.menu-open {
    opacity: 0;
  }

  #main-nav {
    margin-left: auto;

    ul {
      display: flex;
    }

    li {
      margin-right: 1em;
    }
  }
}

#close-main-nav a:not(:focus) {
  color: $t;
}
