#main-header {
  position: relative;
  font-size: font-size($font-baseline-24);
  line-height: line-height($font-baseline-24);
  z-index: $z2;
  padding: 1em 0;

  .container {
    position: relative;
  }

  a {
    background: none;
    border-color: $t;
    color: currentColor;
    transition: .3s ease;

    &:hover,
    &.current-page {
      border-color: currentColor;
    }
  }

  @at-root {
    .theme-dark & {
      color: $grey-10;
    }
  }
}

#main-header .logo {
  flex: 1;
  opacity: 1;
  transition: opacity .2s ease;

  a {
    display: inline-block;
    border: none;
    opacity: 1;

    &:hover {
      opacity: .8;
    }
  }

  svg {
    height: 1em;
  }

  .byline {
    font-size: font-size($font-baseline-20);
    line-height: line-height($font-baseline-20);
  }
}

.Header_menu-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: line-height($font-baseline-48);
  background: none;
  line-height: 0;
  border: none;
  opacity: 1;
  z-index: $z0;
  transition: opacity .3s ease, z-index 0s .2s;

  &:hover {
    opacity: .8;
  }

  .icon {
    height: 1em;
  }

  .menu-close-icon {
    display: none;
  }

  &.menu-open {
    z-index: $z2;
    transition-delay: 0s;
  }

  &.menu-open .menu-close-icon {
    display: inline;
  }

  &.menu-open .menu-open-icon {
    display: none;
  }
}

#change-lang {
  .icon {
    height: .5em;
  }

  .icon-language {
    height: 1.4em;
    margin-right: .15em;
  }

  &.menu-open {
    height: line-height($font-baseline-24);
    align-self: center;
  }
}

.Menu {
  opacity: 0;
  z-index: $z-1;
  pointer-events: none;
  transition: opacity .2s ease, z-index 0s .2s;

  &_background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $white;
    opacity: .8;
    z-index: $z0;

    @at-root {
      .theme-dark & {
        background: $grey-90;
      }
    }
  }

  ul {
    position: absolute;
    visibility: hidden;
    list-style: none;
    padding-left: 0;
    margin: 0;
    transform: translateY(-.3em);
    transition: transform .3s ease, visibility 0s .3s;
  }

  li {
    white-space: pre;
    opacity: 0;
    transition: opacity .2s ease;
  }

  &.menu-open {
    opacity: 1;
    z-index: $z1;
    pointer-events: all;
    transition-delay: 0s;
  }

  &.menu-open ul {
    visibility: visible;
    transform: translateY(0);
    transition-delay: 0s;
  }

  &.menu-open li {
    opacity: 1;
  }
}

.ChangeLang {
  position: relative;

  ul {
    top: .4em;
    right: -.3em;
    background: $white;
    line-height: line-height($font-baseline-28);
    text-align: right;
    padding: .3em;
    border: 1px solid $grey-10;
    border-radius: .1em;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .1);

    li:first-child {
      margin-bottom: .3em;
    }

    @at-root {
      .theme-dark & {
        background: $grey-80;
        border-color: $grey-70;
      }
    }
  }
}

.MainNav {
  line-height: line-height($font-baseline-24) + line-height($font-baseline-20);

  a {
    vertical-align: middle;
  }

  // weird fix for CJK menu links not following expected vertical align rules
  @at-root {
    :root[lang|="zh"] & a {
      vertical-align: baseline;
    }
  }
}

@media (max-width: $tablet-max-bp) {
  .MainNav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    order: -1;

    .Menu_background {
      background-color: $grey-90;
    }

    ul {
      position: relative;
      background: $white;
      text-align: center;
      padding-top: 4em;
      padding-bottom: 1em;
      transform: translateY(-100vh);

      @at-root {
        .theme-dark & {
          background: $grey-80;
        }
      }
    }

    li {
      transition-delay: 0s;
    }

    &.menu-open {
      z-index: $z-1;
    }

    @for $i from 0 to 5 {
      &.menu-open li:nth-child(#{$i + 1}) {
        transition-delay: $i * .1s + .15s;
      }
    }
  }
}

@media (min-width: $desktop-min-bp) {
  #change-lang,
  #change-lang-menu {
    order: 1;
  }

  #toggle-main-nav {
    display: none;
  }

  .MainNav {
    opacity: 1;
    pointer-events: all;
    z-index: $z0;

    .Menu_background {
      display: none;
    }

    ul {
      display: flex;
      position: static;
      visibility: visible;
      transform: none;
      margin-right: .5em;
    }

    li {
      white-space: pre;
      margin-right: 1em;
      opacity: 1;

      &:last-child {
        display: none;
      }
    }
  }
}

#close-change-lang-menu:not(:focus),
#close-main-nav:not(:focus) {
  display: block;
  height: 0;
  font-size: 0;
}
