.layout-event #doc-title.has-cover {
  padding: 1em 0;
  color: $white;
  background-size: contain;
  background-position: center;
  margin-bottom: 2em;

  h1, h2 {
    margin-left: -0.15em;
  }

  h1 {
    margin-top: 0.3em;
  }

  .bg {
    background-image: linear-gradient(to bottom, transparentize($quartz, 0.2), transparentize($quartz, 0.2));
    background-size: 1em 0.9em;
    background-repeat: repeat-x;
    background-position: 0 100%;
    padding: 0 0.15em;

    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }

  .navigate-up {
    display: inline-block;
    background: none;
    color: $quartz-10;
    text-shadow: 0 0 2px $quartz-90;
    font-size: font-size($font-baseline-16);
    border-bottom-color: $t;
    margin-top: font-size($font-baseline-48)/2;

    &:hover {
      border-bottom-color: $quartz-10;
    }
  }
}
