#events-listing {
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-min-bp) { 
    &:hover .event-link {
      opacity: 0.5;
    }
  }
}

.event-listing {
  position: relative;
  background-size: cover;
  background-position: center 0;
  flex: 1 0 300px;

  h2 {
    margin-top: 1rem;
  }

  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $white;
    opacity: 1;
    transition: 0.3s ease;
  }

  &:hover &-bg {
    background-color: transparentize($grey-10, .5);
    opacity: 0.8;
  }
}

.event-link {
  position: relative;
  display: block;
  box-sizing: border-box;
  height: 100%;
  background: none;
  color: $grey-80;
  padding: 1em;
  border: none;
  opacity: 1;
  z-index: $z1;
  transition: opacity 0.3s ease;

  &:hover {
    background: none;
    opacity: 1 !important;

    .event-go-icon-left,
    .event-go-icon-right {
      opacity: 1;
      @include transform(translateX(0));
    }
  }
}

.event-title {
  color: $grey-90;
}

.event-content {
  display: inline-block;
}

.event-go-icon-left,
.event-go-icon-right {
  display: inline-block;
  opacity: 0;
  transition: 0.3s ease;

  .icon {
    fill: $grey-60;
  }
}

.event-go-icon-left {
  margin-right: 0.1em;
  @include transform(translateX(-0.3em));
}

.event-go-icon-right {
  margin-left: 0.1em;
  @include transform(translateX(0.3em));
}
