.splash {
  padding: 2em;
  margin: 1em 0;

  &-blue {
    background-color: $aqua-80;
    color: $aqua-40;
  }

  h2 {
    margin-top: 0;
  }
}

.gospel-container {
  flex-wrap: wrap;
  margin: 0 -1em;
  margin-bottom: 2em;
}

.gospel-tract {
  flex: 1 0 270px;
  font-size: font-size($font-baseline-28);
  line-height: line-height($font-baseline-28);
  margin: 0.5em 1em;

  h2 {
    margin-left: -0.15em;
  }

  &-content {
    position: relative;
  }

  &-summary {
    background-color: $white;
    margin: 0;
    transition: opacity 0.3s ease;
  }

  &-verse {
    display: none;
    margin-bottom: -1em;
  }

  &.revealed &-summary {
    display: none;
  }

  &.revealed &-verse {
    display: block;
  }

  @media (min-width: $tablet-min-bp) {
    flex-basis: 320px;
  }
}

.layout-gospel .blue-btn {
  color: $aqua-40;
  background-image: linear-gradient(to bottom, $aqua-40, $aqua-40);
  border-color: $aqua-40;

  &:hover {
    color: $aqua-90;
    border-bottom-color: $aqua-40;
  }
}
