.splash {
  padding: 2em;
  margin: 1em 0;

  &-blue {
    background-color: $blue-80;
    color: $blue-10;
  }

  h2 {
    margin-top: 0;
  }

  .blue-btn {
    color: $blue-10;
    background-image: linear-gradient(to bottom, $blue-10, $blue-10);
    border-color: $blue-10;

    &:hover {
      color: $blue-80;
      border-bottom-color: $blue-10;
    }
  }
}

.gospel-container {
  margin: 0 -1em;
  margin-bottom: 2em;
}

.gospel-tract {
  margin: 0.5em 1em;

  h2 {
    margin-left: -0.15em;

    mark {
      color: $grey-70;
    }
  }

  &-content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    align-items: center;
    grid-gap: 1em;
  }

  &-summary {
    background-color: $white;
    margin: 0;
    transition: opacity 0.3s ease;
  }

  &-verse {
    margin: 0;
  }

  &-source {
    font-size: font-size($font-baseline-24);
  }
}
