.layout-home {
  body {
    overflow-x: hidden;
  }

  #content {
    background: $grey-90;
    color: $white;
  }

  .container {
    max-width: 1440px;
  }

  .sub-container {
    width: calc(100% - 144px);
    max-width: 1024px;
  }
}

.HomeTitle {
  position: relative;
  height: calc(#{100vh} - #{(2.05*line-height($font-baseline-24) + 2*font-size($font-baseline-24))});
  justify-content: center;
  background-color: $grey-90;
  color: $white;

  &_title {
    font-size: font-size($font-baseline-80);
    line-height: line-height($font-baseline-80);
    font-weight: 600;
    text-transform: uppercase;
    margin-top: -2.5rem;
    z-index: $z0;
  }

  &_textBackground {
    color: $purple-90;

    @media (max-width: $tablet-max-bp) {
      background: $purple-10;
      padding: 0 .1em;
      margin: 0 -.1em;
    }
  }

  &_backgroundQuestions {
    position: absolute;
    top: -#{(2.05*line-height($font-baseline-24) + 2*font-size($font-baseline-24))};
    left: -5000vw;
    right: -5000vw;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: $grey-60;
    font-family: $display-font-family;
    font-weight: 200;
    font-size: 10vh;
    // mix-blend-mode: difference;
    opacity: .8;
  }

  &_backgroundQuestionsRow {
    display: flex;

    p {
      padding-right: 1ch;
      margin: 0;
      transform: translateX(0);
      animation: infinite linear;
    }

    &:nth-child(odd) p {
      animation-name: row-marquee-forwards;
    }

    &:nth-child(even) p {
      animation-name: row-marquee-backwards;
    }

    @keyframes row-marquee-forwards {
      from { transform: translateX(0) }
      to { transform: translateX(100%) }
    }

    @keyframes row-marquee-backwards {
      from { transform: translateX(0) }
      to { transform: translateX(-100%) }
    }

    &--1 p {
      animation-duration: 48s;
    }

    &--2 {
      transform: translateX(300px);

      p {
        animation-duration: 40s;
      }
    }

    &--3 {
      transform: translateX(-300px);

      p {
        animation-duration: 44s;
      }
    }

    &--4 {
      transform: translateX(100px);

      p {
        animation-duration: 48s;
      }
    }

    &--5 {
      transform: translateX(-100px);

      p {
        animation-duration: 52s;
      }
    }

    &--6 p {
      animation-duration: 54s;
    }

    &--7 {
      transform: translateX(-200px);

      p {
        animation-duration: 44s;
      }
    }

    &--8 {
      transform: translateX(200px);

      p {
        animation-duration: 44s;
      }
    }
  }

  &_racingStripe {
    position: absolute;
    top: calc(#{50%} - #{12.5em});
    left: calc(#{50%} + #{.85em});
    height: 20em;
    width: 11.55em;
    background: $purple-10;
  }

  @media (min-width: $tablet-min-bp) {
    align-items: center;

    &_title {
      margin-left: 0;
    }
  }
}

.HomeSection {
  position: relative;
  box-sizing: border-box;

  &_title {
    position: absolute;
    font-size: font-size($font-baseline-44);
    line-height: line-height($font-baseline-48);
    text-transform: uppercase;
    margin: 0;
  }

  &_content {
    font-family: $display-font-family;
    font-weight: 500;
    font-size: font-size($font-baseline-36);
    line-height: line-height($font-baseline-36);
  }

  &_link {
    display: inline-block;
    font-size: font-size($font-baseline-20);
    line-height: line-height($font-baseline-20);
    font-weight: bold;
    text-transform: uppercase;
    border: 0;
    margin-top: 2em;

    .icon {
      fill: currentColor;
      vertical-align: -.1em;
      transform: translateX(0);
      transition: transform .3s;
    }

    &:hover .icon {
      transform: translateX(.5em);
    }
  }

  p {
    margin: 0;
  }
}

.HomeSpacer {
  position: relative;
  height: 180px;

  &_separator {
    position: absolute;
    height: 4px;
    width: calc(#{100%} - #{76px});
  }

  &_extension {
    position: absolute;
    height: 54px;
    width: 4px;
  }

  &_borderRadius {
    position: absolute;
    height: 34px;
    width: 34px;
    border-color: var(--spacer-start-color);
    border-style: solid;

    &--left-down {
      left: 0;
      border-width: 4px 0 0 4px;
      border-top-left-radius: 36px;
    }

    &--right-down {
      right: 0;
      border-width: 4px 4px 0 0;
      border-top-right-radius: 36px;
    }

    &--down-right {
      left: 0;
      border-width: 0 0 4px 4px;
      border-bottom-left-radius: 36px;
    }

    &--down-left {
      right: 0;
      border-width: 0 4px 4px 0;
      border-bottom-right-radius: 36px;
    }
  }

  &--bg-start {
    background: var(--spacer-start-color);
  }

  &--bg-end {
    background: var(--spacer-end-color);
  }

  &--border-start {
    border-color: var(--spacer-start-color);
  }

  &--border-end {
    border-color: var(--spacer-end-color);
  }

  &--grad-to-left {
    background: linear-gradient(to left, var(--spacer-start-color), var(--spacer-end-color));
  }

  &--grad-to-right {
    background: linear-gradient(to right, var(--spacer-start-color), var(--spacer-end-color));
  }
}

#HomeSpacer--1 {
  --spacer-start-color: #{$purple-10};
  --spacer-end-color: #{$purple-10};
  height: 126px;

  .HomeSpacer_separator {
    top: 34px;
    left: 38px;
    width: 100vw;
  }

  .HomeSpacer_borderRadius--left-down {
    top: 34px;
  }

  .HomeSpacer_extension.HomeSpacer--bg-end {
    top: 72px;
  }
}

#HomeSpacer--2 {
  --spacer-start-color: #{$purple-10};
  --spacer-end-color: #{$gold-10};

  .HomeSpacer_borderRadius--down-right {
    top: 54px;
  }

  .HomeSpacer_separator {
    top: 88px;
    left: 38px;
  }

  .HomeSpacer_borderRadius--right-down {
    top: 88px;
    right: 0;
  }

  .HomeSpacer_extension.HomeSpacer--bg-end {
    top: 126px;
    right: 0;
  }
}

#HomeSpacer--3 {
  --spacer-start-color: #{$gold-10};
  --spacer-end-color: #{$blue-10};

  .HomeSpacer_extension.HomeSpacer--bg-start {
    right: 0;
  }

  .HomeSpacer_borderRadius--down-left {
    top: 54px;
    right: 0;
  }

  .HomeSpacer_separator {
    top: 88px;
    left: 38px;
  }

  .HomeSpacer_borderRadius--left-down {
    top: 88px;
  }

  .HomeSpacer_extension.HomeSpacer--bg-end {
    top: 126px;
  }
}

#HomeSpacer--4 {
  --spacer-start-color: #{$blue-10};
  --spacer-end-color: #{$grey-80};

  .HomeSpacer_borderRadius--down-right {
    top: 54px;
  }

  .HomeSpacer_separator {
    top: 88px;
    left: 38px;
    width: 150px;
  }

  .HomeSpacer_borderRadius--right-down {
    top: 88px;
    left: 188px;
  }

  .HomeSpacer_extension.HomeSpacer--bg-end {
    top: 126px;
    left: 222px;
  }
}

#home-content {
  margin: auto;
}

#questions {
  border-left: 4px solid $purple-10;

  .HomeSection_title {
    top: 0;
    left: 0;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: 0 0;
  }

  .HomeSection_content p:not(:last-child) {
    margin-bottom: .3em;
  }

  .HomeSection_link {
    color: $purple-10;
  }
}

#gospel {
  border-right: 4px solid $gold-10;

  .HomeSection_title {
    top: 0;
    right: 0;
    transform: rotate(90deg) translateX(100%);
    transform-origin: 100% 0;
  }

  ol {
    list-style: none;
    counter-reset: gospel-list-counter;
    padding-left: 1.2em;
    margin: 0;
  }

  li {
    position: relative;
    line-height: line-height($font-baseline-48);
    counter-increment: gospel-list-counter;
  }

  li::before {
    position: absolute;
    left: -1.3em;
    width: 1em;
    content: counter(gospel-list-counter) ".  ";
    color: $gold-40;
    font-family: $font-family;
    font-weight: bold;
    font-feature-settings: "tnum";
    text-align: right;
  }

  .HomeSection_link {
    color: $gold-10;
  }
}

#connect {
  border-left: 4px solid $blue-10;

  .HomeSection_title {
    top: 0;
    left: 0;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: 0 0;
  }

  .HomeSection_link {
    color: $blue-10;

    & ~ .HomeSection_link {
      margin-top: .5em;
    }
  }
}

.layout-home #main-footer {
  margin: 0;
}