.layout-home #content {
  background: $grey-90;
  color: $white;
}

.layout-home .container {
  max-width: 1440px;
}

.layout-home .sub-container {
  max-width: 1024px;
}

.HomeTitle {
  position: relative;
  height: calc(#{100vh} - #{(2.05*line-height($font-baseline-24) + 2*font-size($font-baseline-24))});
  justify-content: center;
  background-color: $grey-90;
  color: $white;

  &_title {
    font-size: font-size($font-baseline-64);
    line-height: line-height($font-baseline-64);
    font-weight: 600;
    text-transform: uppercase;
    margin-top: -1em;
    margin-left: -0.15em;
    z-index: $z2;
  }

  &_textBackground {
    background: $purple-10;
    color: $purple-90;
    padding: 0 4px;
    margin: 0 -4px;

    @media (min-width: $tablet-min-bp) {
      padding: 0;
      margin: 0;
    }
  }

  &_backgroundQuestions {
    z-index: $z1;
  }

  &_racingStripe {
    position: absolute;
    top: -#{(2.05*line-height($font-baseline-24) + 2*font-size($font-baseline-24))};
    bottom: 0;
    left: calc(#{50%} + #{13px});
    width: 139px;
    background: $purple-10;
  }

  @media (min-width: $tablet-min-bp) {
    align-items: center;

    &_title {
      margin-left: 0;
    }
  }
}

.HomeSection {
  position: relative;
  box-sizing: border-box;

  &_title {
    position: absolute;
    text-transform: uppercase;
    margin: 0;
  }

  &_link {
    display: inline-block;
    font-size: font-size($font-baseline-20);
    line-height: line-height($font-baseline-20);
    font-weight: bold;
    text-transform: uppercase;
    border: 0;
    margin-top: 2em;

    .icon {
      fill: currentColor;
      vertical-align: -.1em;
      transform: translateX(0);
      transition: transform .3s;
    }

    &:hover .icon {
      transform: translateX(.5em);
    }
  }
}

.HomeSpacer {
  position: relative;
  height: 180px;

  &_transitionOutside {
    position: absolute;
    height: 38px;
    width: 173px;
    border-bottom-right-radius: 38px;
  }

  &_transitionInside {
    position: absolute;
    height: 34px;
    width: 34px;
    background: $grey-90;
    border-bottom-right-radius: 34px;
  }

  &_separator {
    position: absolute;
    height: 4px;
    width: calc(#{100%} - #{76px});
  }

  &_extension {
    position: absolute;
    height: 54px;
    width: 4px;
  }

  &_borderRadius {
    position: absolute;
    height: 34px;
    width: 34px;
    border-color: var(--spacer-start-color);
    border-style: solid;

    &--left-down {
      left: 0;
      border-width: 4px 0 0 4px;
      border-top-left-radius: 36px;
    }

    &--right-down {
      right: 0;
      border-width: 4px 4px 0 0;
      border-top-right-radius: 36px;
    }

    &--down-right {
      left: 0;
      border-width: 0 0 4px 4px;
      border-bottom-left-radius: 36px;
    }

    &--down-left {
      right: 0;
      border-width: 0 4px 4px 0;
      border-bottom-right-radius: 36px;
    }
  }

  &--bg-start {
    background: var(--spacer-start-color);
  }

  &--bg-end {
    background: var(--spacer-end-color);
  }

  &--border-start {
    border-color: var(--spacer-start-color);
  }

  &--border-end {
    border-color: var(--spacer-end-color);
  }

  &--grad-to-left {
    background: linear-gradient(to left, var(--spacer-start-color), var(--spacer-end-color));
  }

  &--grad-to-right {
    background: linear-gradient(to right, var(--spacer-start-color), var(--spacer-end-color));
  }
}

#HomeSpacer--1 {
  --spacer-start-color: #{$purple-10};
  --spacer-end-color: #{$purple-10};
  height: 126px;

  .HomeSpacer_transitionInside,
  .HomeSpacer_transitionOutside {
    left: calc(50% - 21px);
  }

  .HomeSpacer_separator {
    top: 34px;
    left: 38px;
    width: calc(50% - 59px);
  }

  .HomeSpacer_borderRadius--left-down {
    top: 34px;
  }

  .HomeSpacer_extension.HomeSpacer--bg-end {
    top: 72px;
  }
}

#HomeSpacer--2 {
  --spacer-start-color: #{$purple-10};
  --spacer-end-color: #{$gold-10};

  .HomeSpacer_borderRadius--down-right {
    top: 54px;
  }

  .HomeSpacer_separator {
    top: 88px;
    left: 38px;
  }

  .HomeSpacer_borderRadius--right-down {
    top: 88px;
    right: 0;
  }

  .HomeSpacer_extension.HomeSpacer--bg-end {
    top: 126px;
    right: 0;
  }
}

#HomeSpacer--3 {
  --spacer-start-color: #{$gold-10};
  --spacer-end-color: #{$blue-10};

  .HomeSpacer_extension.HomeSpacer--bg-start {
    right: 0;
  }

  .HomeSpacer_borderRadius--down-left {
    top: 54px;
    right: 0;
  }

  .HomeSpacer_separator {
    top: 88px;
    left: 38px;
  }

  .HomeSpacer_borderRadius--left-down {
    top: 88px;
  }

  .HomeSpacer_extension.HomeSpacer--bg-end {
    top: 126px;
  }
}

#HomeSpacer--4 {
  --spacer-start-color: #{$blue-10};
  --spacer-end-color: #{$grey-80};

  .HomeSpacer_borderRadius--down-right {
    top: 54px;
  }

  .HomeSpacer_separator {
    top: 88px;
    left: 38px;
    width: 150px;
  }

  .HomeSpacer_borderRadius--right-down {
    top: 88px;
    left: 188px;
  }

  .HomeSpacer_extension.HomeSpacer--bg-end {
    top: 126px;
    left: 222px;
  }
}

#home-content {
  font-size: font-size($font-baseline-28);
  line-height: line-height($font-baseline-28);
  margin: auto;
}

#questions {
  border-left: 4px solid $purple-10;

  .HomeSection_title {
    top: 0;
    left: 0;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: 0 0;
  }

  p {
    margin: 0;
    font-size: font-size($font-baseline-36);
    line-height: line-height($font-baseline-36);
  }

  .HomeSection_link {
    color: $purple-10;
  }
}

#gospel {
  border-right: 4px solid $gold-10;

  .HomeSection_title {
    top: 0;
    right: 0;
    transform: rotate(90deg) translateX(100%);
    transform-origin: 100% 0;
  }

  ol {
    list-style: none;
    counter-reset: gospel-list-counter;
    padding-left: 0;
    margin: 0;
  }

  li {
    counter-increment: gospel-list-counter;
    font-size: font-size($font-baseline-36);
    line-height: line-height($font-baseline-48);
  }

  li::before {
    content: counter(gospel-list-counter) ". ";
    color: $gold-40;
    font-weight: bold;
    font-feature-settings: "tnum";
  }

  .HomeSection_link {
    color: $gold-10;
  }
}

#connect {
  border-left: 4px solid $blue-10;

  .HomeSection_title {
    top: 0;
    left: 0;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: 0 0;
  }

  p {
    margin: 0;
    font-size: font-size($font-baseline-36);
    line-height: line-height($font-baseline-36);
  }

  .HomeSection_link {
    color: $blue-10;

    & ~ .HomeSection_link {
      margin-top: 0;
    }
  }
}

#main-footer {
  margin: 0;
}