@import "@css/base/variables.scss";
@import "@css/base/functions.scss";
@import "@css/base/mixins.scss";
@import "@css/base/colors.scss";
@import "@css/base/utils.scss";
@import "@css/base/layout.scss";

@import "@css/base/general.scss";

@import "@css/components/tabber.scss";
@import "@css/components/top-bar.scss";
@import "@css/components/footer.scss";

html {
  color: $grey-90;
  font-family: $font-family;
  font-size: font-size($font-baseline-20);
  line-height: line-height($font-baseline-20);

  &.theme-dark {
    background: $grey-90;
    color: $white;
  }
}

body {
  height: 100%;
  min-height: 100vh;

  @media (max-width: #{$tablet-max-bp}) {
    &.menu-open {
      overflow: hidden;
    }
  }
}

#access,
#main-header,
#main-footer {
  flex: none;
}

#content {
  flex: 1 0 auto;
}

#access {
  position: absolute;
  top: -20em;
  width: 100%;
  z-index: $z4 + 1;
}

#access a,
#access a:hover {
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  line-height: 3;
  background-color: $blue-10;
}

#access a:focus {
  top: 20em;
}

.navigate-up {
  display: inline-block;
  background: none;
  color: $grey-70;
  font-size: font-size($font-baseline-16);
  border-bottom-color: $t;
  margin-top: font-size($font-baseline-48)/2;

  &:hover {
    background: none;
    border-bottom-color: currentColor;
  }

  + h1 {
    margin-top: 0.3em;
  }
}

// layout specific styles

@import "@css/landing.scss";
@import "@css/event.scss";

@import "@css/events.scss";
@import "@css/gospel.scss";
@import "@css/theme.scss";
@import "@css/home.scss";
