@import "@css/base/variables.scss";
@import "@css/base/functions.scss";
@import "@css/base/colors.scss";
@import "@css/base/utils.scss";

@import "@css/base/general.scss";

@import "@css/components/top-bar.scss";
@import "@css/components/footer.scss";

body {
  height: 100%;
}

#access,
#main-header,
#main-footer {
  flex: none;
}

#content {
  flex: 1 0 auto;
}

#access {
  position: absolute;
  top: -20em;
  width: 100%;
  z-index: $z4 + 1;
}

#access a,
#access a:hover {
  line-height: 3;
  background-color: $aqua-40;
  border-bottom-color: $aqua-70;
}

#access-skip {
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
}

#access-skip:focus {
  top: 20em;
}

// page specific styles

@import "@css/home.scss";
